# Quiz 4

<font size='4'>

BIOS-584<br>
Nov 21, 2025

* Write down your name in a Markdown section.

Rebecca McSweeney

In [1]:
import numpy as np
import pandas as pd
import os

## Preliminary

<font size='4'>
    
* There are six files stored under `Your own GitHub repository/data/Quiz4`.
* Import those six files using relevant functions in `Pandas`.

In [77]:
df_1 = pd.read_csv('{}/data/Quiz4/data_{}.txt'.format(os.getcwd(),1), sep=',')
df_2 = pd.read_csv('{}/data/Quiz4/data_{}.txt'.format(os.getcwd(),2), sep=',')
df_3 = pd.read_csv('{}/data/Quiz4/data_{}.txt'.format(os.getcwd(),3), sep=',')
df_4 = pd.read_csv('{}/data/Quiz4/data_{}.txt'.format(os.getcwd(),4), sep=',')
df_5 = pd.read_csv('{}/data/Quiz4/data_{}.txt'.format(os.getcwd(),5), sep=',')
df_6 = pd.read_csv('{}/data/Quiz4/data_{}.txt'.format(os.getcwd(),6), sep=',')

df_ls = [df_1,df_2,df_3,df_4,df_5,df_6]
print(df_ls)

[   study_id measure_date  duration
0         1   2025-01-01       100,    study_id measure_date  duration
0         1   2025-03-01       300,    study_id measure_date  duration
0         1   2025-02-01       200,    study_id measure_date  duration
0         1   2025-11-01        25,    study_id measure_date  duration
0         1   2025-11-01        20,    study_id measure_date  duration
0         1   2025-11-03        30]

## Import Data

<font size='4'>

* Three lists named `study_id_ls`, `measure_date_ls`, and `duration_ls` have been initialized.
* Write a for loop to extract and append the values of `study_id`, `measure_date`, and `duration` to `study_id_ls`, `measure_date_ls`, and `duration_ls`, respectively.

In [84]:
study_id_ls = []
measure_date_ls = []
duration_ls = []

for n_iter in range(6):
    df_iter = pd.read_csv('{}/data/Quiz4/data_{}.txt'.format(os.getcwd(),n_iter+1), sep=',')
    study_id_ls.append(int(df_iter.loc[0, 'study_id'])) 
    measure_date_ls.append(df_iter.loc[0,'measure_date'])
    duration_ls.append(int(df_iter.loc[0,'duration']))

print(study_id_ls)
print(measure_date_ls)
print(duration_ls)

[1, 1, 1, 1, 1, 1]
['2025-01-01', '2025-03-01', '2025-02-01', '2025-11-01', '2025-11-01', '2025-11-03']
[100, 300, 200, 25, 20, 30]

<font size='4'>

* Create a new Pandas Dataframe combining three lists and name it `input_df`.

In [85]:
input_df = pd.DataFrame({"Study ID":study_id_ls,"Measure Date":measure_date_ls,"Duration":duration_ls})

<font size='4'>

* Show or print `input_df`

In [87]:
print(input_df)
input_df["Measure Date"] = pd.to_datetime(input_df["Measure Date"])

   Study ID Measure Date  Duration
0         1   2025-01-01       100
1         1   2025-03-01       300
2         1   2025-02-01       200
3         1   2025-11-01        25
4         1   2025-11-01        20
5         1   2025-11-03        30

## Data Manipulation

<font size='4'>

* Reorder the dataframe by `measure_date` (earliest to latest) and then by `duration` (shortest to longest).

In [91]:
input_df.sort_values(["Measure Date", "Duration"],inplace=True) 
print(input_df)

   Study ID Measure Date  Duration
0         1   2025-01-01       100
2         1   2025-02-01       200
1         1   2025-03-01       300
4         1   2025-11-01        20
3         1   2025-11-01        25
5         1   2025-11-03        30

<font size='4'>

* Create a new column called `relative_time` by calculating the time difference in days between each of the measure date and the earliest one.

In [96]:
input_df['relative_time'] = input_df["Measure Date"] - input_df.loc[0,"Measure Date"] 
print(input_df)

   Study ID Measure Date  Duration relative_time
0         1   2025-01-01       100        0 days
2         1   2025-02-01       200       31 days
1         1   2025-03-01       300       59 days
4         1   2025-11-01        20      304 days
3         1   2025-11-01        25      304 days
5         1   2025-11-03        30      306 days

<font size='4'>

* Reset the index column and remove the old index.

In [99]:
input_df.reset_index(drop=True, inplace=True)

## Final Data Visualization
<font size='4'>
    
* Display the final `input_df`.

In [100]:
input_df

   Study ID Measure Date  Duration relative_time
0         1   2025-01-01       100        0 days
1         1   2025-02-01       200       31 days
2         1   2025-03-01       300       59 days
3         1   2025-11-01        20      304 days
4         1   2025-11-01        25      304 days
5         1   2025-11-03        30      306 days